@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply min-h-screen bg-slate-50 dark:bg-black dark:text-white;
  }
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
  .toggle-btn {
    @apply [&>div::after]:translate-y-0 [&>div::after]:-rotate-45
    [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div]:rotate-[180deg]
    [&>div]:bg-transparent;
  }
  .hamburger {
    @apply absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white
    transition-all duration-500
    before:absolute before:h-1 before:w-8 before:-translate-x-4 before:-translate-y-3
    before:rounded before:bg-white before:transition-all
    before:duration-500 before:content-['']
    after:absolute after:h-1 after:w-8 after:-translate-x-4 after:translate-y-3
    after:rounded after:bg-white after:transition-all
    after:duration-500 after:content-[''];
  }
}
